root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 340

[*.{yml,yaml,json,js,css,html,jinja,jinja2,bat,sh,ps1,template}]
indent_size = 2
