#!/bin/bash

set -x

source /etc/environment
if [[ -f /etc/profile.d/proxy.sh ]]; then
    source /etc/profile.d/proxy.sh
fi

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

{% set TAGS = [
  {'Key':'res:EnvironmentName', 'Value': context.cluster_name },
  {'Key':'res:ModuleName', 'Value': context.module_name },
  {'Key':'res:ModuleId', 'Value': context.module_id },
  {'Key':'Name', 'Value': 'JobId: ' + context.vars.job.job_id + ', Cluster: ' + context.cluster_name },
  {'Key':'res:JobOwner', 'Value': context.vars.job.owner },
  {'Key':'res:Project', 'Value': context.vars.job.project },
  {'Key':'res:JobQueue', 'Value': context.vars.job.queue }
] %}

{%- with  ebs_volume_tags = TAGS %}
  {% include '_templates/linux/tag_ebs_volumes.jinja2' %}
{%- endwith %}

{%- with  network_interface_tags = TAGS %}
  {% include '_templates/linux/tag_network_interface.jinja2' %}
{%- endwith %}

if [[ ! -f ${BOOTSTRAP_DIR}/idea_preinstalled_packages.log ]]; then

  # Begin: Disable SE Linux
  /bin/bash "${SCRIPT_DIR}/../common/disable_se_linux.sh" -o $RES_BASE_OS -s "${SCRIPT_DIR}"
  # End: Disable SE Linux

  # Begin: Install jq
  /bin/bash "${SCRIPT_DIR}/../common/jq.sh" -o $RES_BASE_OS -s "${SCRIPT_DIR}"
  # End: Install jq

  # Begin: Install System Packages
  /bin/bash "${SCRIPT_DIR}/../common/system_packages.sh" -o $RES_BASE_OS -r $AWS_REGION -n $IDEA_CLUSTER_NAME -s "${SCRIPT_DIR}"
  # End: Install System Packages

  # Begin: Install/Configure CloudWatch Agent
  /bin/bash "${SCRIPT_DIR}/../common/cloudwatch_agent.sh" -o $RES_BASE_OS -r $AWS_REGION -n $IDEA_CLUSTER_NAME -s "${SCRIPT_DIR}"

  {%- set cloudwatch_agent_config = context.get_cloudwatch_agent_config(additional_log_files=additional_log_files) %}
  {%- if cloudwatch_agent_config %}
  echo '{{ context.utils.to_json(cloudwatch_agent_config, indent=True) }}' > /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
  /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
  {%- else %}
  log_warning "cloudwatch_agent_config not provided."
  {%- endif %}
  # End: Install/Configure CloudWatch Agent

  {%- if context.is_metrics_provider_prometheus() %}
    {%- include '_templates/linux/prometheus.jinja2' %}
    {%- include '_templates/linux/prometheus_node_exporter.jinja2' %}
  {%- endif %}

else
   log_info "Found ${BOOTSTRAP_DIR}/idea_preinstalled_packages.log... skipping package installation..."
fi

{% include '_templates/linux/chronyd.jinja2' %}

{% include '_templates/linux/disable_ulimit.jinja2' %}

{% include '_templates/linux/disable_strict_host_check.jinja2' %}

{% include '_templates/linux/disable_motd_update.jinja2' %}

{%- if context.vars.job.is_persistent_capacity() %}
  {% set motd_messages = [
    'Compute Node, Queue: ' + context.vars.job.queue + ', Keep Forever - Stack UUID: ' + context.vars.job.provisioning_options.stack_uuid + ', Cluster: ' + context.cluster_name
  ] %}
{%- elif context.vars.job.is_shared_capacity() %}
  {% set motd_messages = [
    'Compute Node, Queue: ' + context.vars.job.queue + ', JobGroup: ' + context.vars.job.job_group + ', Cluster: ' + context.cluster_name
  ] %}
{%- else %}
  {% set motd_messages = [
    'Compute Node, Queue: ' + context.vars.job.queue + ', JobId: ' + context.vars.job.job_id + ', Cluster: ' + context.cluster_name
  ] %}
{%- endif %}
{%- with messages = motd_messages %}
  {% include '_templates/linux/motd.jinja2' %}
{%- endwith %}

{% include '_templates/linux/join_directoryservice.jinja2' %}

{% if context.config.get_string('scheduler.provider') == 'openpbs' %}
  {% include 'compute-node/_templates/configure_openpbs_compute_node.jinja2' %}
{% endif %}

{% include 'compute-node/_templates/scratch_storage.jinja2' %}

{%- if context.vars.job.params.enable_efa_support %}
  {% include 'compute-node/_templates/efa.jinja2' %}
{%- endif %}

{% include '_templates/linux/disable_nouveau_drivers.jinja2' %}

REBOOT_REQUIRED=$(cat /root/bootstrap/reboot_required.txt)
if [[ "${REBOOT_REQUIRED}" == "yes" ]]; then
  log_info "reboot required. compute_node_post_reboot.sh will be executed after reboot ..."
  (crontab -l; echo "@reboot /bin/bash ${SCRIPT_DIR}/compute_node_post_reboot.sh >> ${IDEA_COMPUTE_NODE_LOGS_DIR}/compute_node_bootstrap.log" 2>&1) | crontab -
  reboot
else
  mount -a
  log_info "reboot not required. executing compute_node_post_reboot.sh ..."
  /bin/bash ${SCRIPT_DIR}/compute_node_post_reboot.sh >> "${IDEA_COMPUTE_NODE_LOGS_DIR}/compute_node_bootstrap.log" 2>&1
fi
