#!/bin/bash

set -x

source /etc/environment
if [[ -f /etc/profile.d/proxy.sh ]]; then
    source /etc/profile.d/proxy.sh
fi

# reset reboot_required.txt
echo -n "no" > ${BOOTSTRAP_DIR}/reboot_required.txt

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

{% include 'compute-node/_templates/scheduler_stop.jinja2' %}

{%- with node_type = 'compute' %}
  {% include '_templates/linux/gpu_drivers.jinja2' %}
{%- endwith %}

# a reboot may be required if GPU Drivers are installed.
REBOOT_REQUIRED=$(cat /root/bootstrap/reboot_required.txt)
if [[ "${REBOOT_REQUIRED}" == "yes" ]]; then
  reboot
else
  {% include 'compute-node/_templates/configure_hyperthreading.jinja2' %}

  if [[ -f ${IDEA_CLUSTER_HOME}/${IDEA_MODULE_ID}/compute_node/userdata_customizations.sh ]]; then
    /bin/bash ${IDEA_CLUSTER_HOME}/${IDEA_MODULE_ID}/compute_node/userdata_customizations.sh >> ${IDEA_COMPUTE_NODE_LOGS_DIR}/userdata_customizations.log 2>&1
  fi

  {% include 'compute-node/_templates/scheduler_start.jinja2' %}
fi
