DS_TLS_CERTIFICATE_SECRET_ARN="{{context.config.get_string('directoryservice.tls_certificate_secret_arn', default='')}}"
DS_LDAP_CONNECTION_URI="{{ context.config.get_string('directoryservice.ldap_connection_uri', required=True) }}"
DS_LDAP_BASE="{{context.config.get_string('directoryservice.ldap_base', required=True)}}"

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

OPEN_LDAP_DIR=""
{%- if context.base_os == 'ubuntu2204' %}
OPEN_LDAP_DIR="/etc/ldap"
{%- else %}
OPEN_LDAP_DIR="/etc/openldap"
{%- endif %}

if [[ -f "${OPEN_LDAP_DIR}/ldap.conf" ]]; then
  cp ${OPEN_LDAP_DIR}/ldap.conf ${OPEN_LDAP_DIR}/ldap.conf.orig
fi

echo -e "
TLS_CACERTDIR ${OPEN_LDAP_DIR}/cacerts/

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON	on

URI ${DS_LDAP_CONNECTION_URI}

BASE ${DS_LDAP_BASE}
" > ${OPEN_LDAP_DIR}/ldap.conf

if [[ "${DS_TLS_CERTIFICATE_SECRET_ARN}" != '' ]]; then
  mkdir -p ${OPEN_LDAP_DIR}/cacerts/
  DS_TLS_CERTIFICATE=$(get_secret "${DS_TLS_CERTIFICATE_SECRET_ARN}")
  echo -n "${DS_TLS_CERTIFICATE}" > ${OPEN_LDAP_DIR}/cacerts/openldap-server.pem

  echo -e "
TLS_CACERT ${OPEN_LDAP_DIR}/cacerts/openldap-server.pem
" >> ${OPEN_LDAP_DIR}/ldap.conf
fi
