# Begin: Generate IDEA App Certs
function generate_idea_app_certs () {
  # Generate 10 years internal SSL certificate for IDEA App APIs
  local CERTS_DIR="${IDEA_CLUSTER_HOME}/certs"
  mkdir -p "${CERTS_DIR}"
  local CERT_KEY="${CERTS_DIR}/idea.key"
  local CERT_FILE="${CERTS_DIR}/idea.crt"
  if [[ ! -f "${CERT_KEY}" ]]; then
    openssl req -new -newkey rsa:4096 -days 3650 -nodes -x509 \
          -subj "/C=US/ST=California/L=Sunnyvale/CN=*.{{ context.config.get_string('cluster.route53.private_hosted_zone_name') }}" \
          -keyout "${CERT_KEY}" -out "${CERT_FILE}"
  fi
  chmod 600 ${CERTS_DIR}
}
generate_idea_app_certs
# End: Generate IDEA App Certs
