# BEGIN: DCV Session Manager Agent

{%- if context.base_os in ('rhel9') %}

  DCV_GPG_KEY_DCV_AGENT="{{ context.config.get_string('global-settings.package_config.dcv.gpg_key', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_URL="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.rhel_centos_rocky9.url', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_VERSION="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.rhel_centos_rocky9.version', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_SHA256_HASH="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.rhel_centos_rocky9.sha256sum', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_URL="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.rhel_centos_rocky9.url', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_VERSION="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.rhel_centos_rocky9.version', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_SHA256_HASH="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.rhel_centos_rocky9.sha256sum', required=True) }}"

{%- endif %}

{%- if context.base_os in ('amazonlinux2', 'centos7', 'rhel7', 'rhel8') %}

  DCV_GPG_KEY_DCV_AGENT="{{ context.config.get_string('global-settings.package_config.dcv.gpg_key', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_URL="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.al2_rhel_centos7.url', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_VERSION="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.al2_rhel_centos7.version', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_X86_64_SHA256_HASH="{{ context.config.get_string('global-settings.package_config.dcv.agent.x86_64.linux.al2_rhel_centos7.sha256sum', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_URL="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.al2_rhel_centos7.url', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_VERSION="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.al2_rhel_centos7.version', required=True) }}"
  DCV_SESSION_MANAGER_AGENT_AARCH64_SHA256_HASH="{{ context.config.get_string('global-settings.package_config.dcv.agent.aarch64.linux.al2_rhel_centos7.sha256sum', required=True) }}"

{%- endif %}

rpm --import ${DCV_GPG_KEY_DCV_AGENT}
machine=$(uname -m) #x86_64 or aarch64
AGENT_URL=""
AGENT_VERSION=""
AGENT_SHA256_HASH=""
if [[ $machine == "x86_64" ]]; then
  # x86_64
  AGENT_URL=${DCV_SESSION_MANAGER_AGENT_X86_64_URL}
  AGENT_VERSION=${DCV_SESSION_MANAGER_AGENT_X86_64_VERSION}
  AGENT_SHA256_HASH=${DCV_SESSION_MANAGER_AGENT_X86_64_SHA256_HASH}
else
  # aarch64
  AGENT_URL=${DCV_SESSION_MANAGER_AGENT_AARCH64_URL}
  AGENT_VERSION=${DCV_SESSION_MANAGER_AGENT_AARCH64_VERSION}
  AGENT_SHA256_HASH=${DCV_SESSION_MANAGER_AGENT_AARCH64_SHA256_HASH}
fi

if [[ -z "$(rpm -qa nice-dcv-session-manager-agent)" ]]; then
  wget ${AGENT_URL}
  if [[ $(sha256sum nice-dcv-session-manager-agent-${AGENT_VERSION}.rpm | awk '{print $1}') != ${AGENT_SHA256_HASH} ]];  then
      echo -e "FATAL ERROR: Checksum for DCV Session Manager Agent failed. File may be compromised." > /etc/motd
      exit 1
  fi
  yum install -y nice-dcv-session-manager-agent-${AGENT_VERSION}.rpm
else
  log_info "Found nice-dcv-session-manager-agent pre-installed... skipping installation..."
fi
log_info "# installing dcv agent complete ..."

rm -rf nice-dcv-session-manager-agent-${AGENT_VERSION}.rpm

# END: DCV Session Manager Agent
