# Begin: Disable Strict Host Check
{%- if context.base_os in ('amazonlinux2', 'rhel8', 'rhel9') %}
echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
echo "UserKnownHostsFile /dev/null" >> /etc/ssh/ssh_config
{%- endif %}
# End: Disable Strict Host Check
