# Begin: Disable Strict Host Check
if [[ $RES_BASE_OS =~ ^(amzn2|rhel8|rhel9)$ ]]; then
  echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
  echo "UserKnownHostsFile /dev/null" >> /etc/ssh/ssh_config
fi
# End: Disable Strict Host Check
