# Begin: Disable motd update - applicable only for amazonlinux2
if [[ $RES_BASE_OS == "amzn2" ]]; then
  /usr/sbin/update-motd --disable
  rm /etc/cron.d/update-motd
  rm -f /etc/update-motd.d/*
fi
# End: Disable motd update
