# Begin: Install EPEL Repo
{%- if context.base_os == 'amazonlinux2' %}
if [[ ! -f "/etc/yum.repos.d/epel.repo" ]]; then
  amazon-linux-extras install -y epel
  yum update --security -y
fi
{%- endif %}
{%- if context.base_os == 'centos7' %}
if [[ ! -f "/etc/yum.repos.d/epel.repo" ]]; then
  yum -y install epel-release
fi
{%- endif %}
{%- if context.base_os == 'rhel7' %}
if [[ ! -f "/etc/yum.repos.d/epel.repo" ]]; then
  yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
fi
{%- endif %}
{%- if context.base_os == 'rhel8' %}
if [[ ! -f "/etc/yum.repos.d/epel.repo" ]]; then
  yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
fi
{%- endif %}
{%- if context.base_os == 'rhel9' %}
if [[ ! -f "/etc/yum.repos.d/epel.repo" ]]; then
  yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
fi
{%- endif %}
# End: Install EPEL Repo


