# Begin: Define proxy environment variables
if [[ ! -z "${IDEA_HTTPS_PROXY}" ]]; then
echo "#Export proxy settings
export HTTPS_PROXY=${IDEA_HTTPS_PROXY}
export https_proxy=${IDEA_HTTPS_PROXY}
export NO_PROXY=${IDEA_NO_PROXY}
export no_proxy=${IDEA_NO_PROXY}" > /etc/profile.d/proxy.sh
source /etc/profile.d/proxy.sh
fi
# End: Define proxy environment variables

