# Begin: Join Directory Service
{% if context.module_name != "cluster-manager" %}
  {%- include '_templates/linux/configure_openldap.jinja2' %}
{% endif -%}

{% if context.config.get_string('directoryservice.provider') == 'openldap' %}
  {%- include '_templates/linux/join_openldap.jinja2' %}
{% endif -%}
{%- if context.config.get_string('directoryservice.provider') in ['activedirectory', 'aws_managed_activedirectory'] %}
  {%- if context.config.get_string('directoryservice.disable_ad_join') == 'True'%}
    {%- include '_templates/linux/connect_activedirectory.jinja2' %}
    {%- include '_templates/linux/set_sudoers.jinja2' %}
  {% endif -%}
  {%- if context.config.get_string('directoryservice.disable_ad_join') == 'False'%}
    {%- include '_templates/linux/join_activedirectory.jinja2' %}
  {% endif -%}
{% endif -%}
# End: Join Directory Service
