# Begin: Join OpenLDAP

IDEA_DS_TLS_CERTIFICATE_SECRET_ARN="{{context.config.get_string('directoryservice.tls_certificate_secret_arn', required=True)}}"
IDEA_CLUSTER_HOME_DIR="{{context.config.get_string('shared-storage.home.mount_dir', required=True)}}"
IDEA_DS_LDAP_BASE="{{context.config.get_string('directoryservice.ldap_base', required=True)}}"
IDEA_DS_LDAP_HOST="{{context.config.get_string('directoryservice.hostname', required=True)}}"

if [[ -f "/etc/openldap/ldap.conf" ]]; then
  cp /etc/openldap/ldap.conf /etc/openldap/ldap.conf.orig
fi
echo -e "
TLS_CACERTDIR /etc/openldap/cacerts/

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON	on

URI ldap://${IDEA_DS_LDAP_HOST}

BASE ${IDEA_DS_LDAP_BASE}
" > /etc/openldap/ldap.conf

if [ -e /etc/sssd/sssd.conf ]; then
    cp /etc/sssd/sssd.conf /etc/sssd/sssd.conf.orig
fi

echo -e "[domain/default]
enumerate = True
autofs_provider = ldap
cache_credentials = True
ldap_search_base = ${IDEA_DS_LDAP_BASE}
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
sudo_provider = ldap
ldap_sudo_search_base = ou=Sudoers,${IDEA_DS_LDAP_BASE}
ldap_uri = ldap://${IDEA_DS_LDAP_HOST}
ldap_id_use_start_tls = True
use_fully_qualified_names = False
ldap_tls_cacertdir = /etc/openldap/cacerts
ldap_sudo_full_refresh_interval=86400
ldap_sudo_smart_refresh_interval=3600

[sssd]
services = nss, pam, autofs, sudo
full_name_format = %2\$s\%1\$s
domains = default

[nss]
homedir_substring = ${IDEA_CLUSTER_HOME_DIR}/home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]

[secrets]
" > /etc/sssd/sssd.conf
chmod 600 /etc/sssd/sssd.conf

mkdir -p /etc/openldap/cacerts/
DS_TLS_CERTIFICATE=$(get_secret "${IDEA_DS_TLS_CERTIFICATE_SECRET_ARN}")
echo -n "${DS_TLS_CERTIFICATE}" > /etc/openldap/cacerts/openldap-server.pem

authconfig --disablesssd \
           --disablesssdauth \
           --disableldap \
           --disableldapauth \
           --disablekrb5 \
           --disablekrb5kdcdns \
           --disablekrb5realmdns \
           --disablewinbind \
           --disablewinbindauth \
           --disablewinbindkrb5 \
           --disableldaptls \
           --disablerfc2307bis \
           --updateall

sss_cache -E

authconfig --enablesssd \
           --enablesssdauth \
           --enableldap \
           --enableldaptls \
           --enableldapauth \
           --ldapserver="ldap://${IDEA_DS_LDAP_HOST}" \
           --ldapbasedn="${IDEA_DS_LDAP_BASE}" \
           --enablelocauthorize \
           --enablemkhomedir \
           --enablecachecreds \
           --updateall

systemctl enable sssd
systemctl restart sssd

grep -q "sudoers: files sss" /etc/nsswitch.conf
if [[ "$?" != "0" ]]; then
  echo "sudoers: files sss" >> /etc/nsswitch.conf
fi

# End: Join OpenLDAP

