# Begin: Install jq
{%- if context.base_os in ('amazonlinux2', 'centos7', 'rhel7', 'rhel8', 'rhel9') %}
which jq > /dev/null 2>&1
if [[ "$?" != "0" ]]; then
  log_info "installing jq"
  yum install -y jq
fi
{%- endif %}
# End: Install jq


