# Begin: motd update
if [[ $RES_BASE_OS =~ ^(amzn2|rhel8|rhel9)$ ]]; then
  echo -e "
  ____  _____ ____
 |  _ \| ____/ ___|
 | |_| |  _| \___ \
 |  _ <| |___ ___| |
 |_| \_\_____|____/
{% for message in messages %}
{{ message }}
{% endfor %}
> source /etc/environment to load RES paths
" > /etc/motd
fi
# End: motd update
