# Begin: NFS Utils and dependency items

{%- if context.base_os in ('centos7', 'rhel7', 'rhel8', 'rhel9') %}
if [[ -z "$(rpm -qa nfs-utils)" ]]; then
  log_info "# installing nfs-utils"
  yum install -y nfs-utils
fi
{%- endif %}

{% include '_templates/linux/efs_mount_helper.jinja2' %}

# End: NFS Utils
