# Begin: Install NodeJS
# Usage: Ensure NVM_DIR environment variable is added to /etc/environment when nodejs is installed.

IDEA_NODE_VERSION="{{ context.config.get_string('global-settings.package_config.nodejs.version', required=True) }}"
IDEA_NVM_VERSION="{{ context.config.get_string('global-settings.package_config.nodejs.nvm_version', required=True) }}"
IDEA_NPM_VERSION="{{ context.config.get_string('global-settings.package_config.nodejs.npm_version', required=True) }}"

function install_nodejs () {
  local NVM_DIR=${NVM_DIR:-"/root/.nvm"}
  mkdir -p ${NVM_DIR}

  if [[ ! -f "${NVM_DIR}/nvm.sh" ]]; then
    curl -o- "{{ context.config.get_string('global-settings.package_config.nodejs.url', required=True) }}v${IDEA_NVM_VERSION}/install.sh" | bash
  fi
  source "${NVM_DIR}/nvm.sh"
  nvm which --silent "${IDEA_NODE_VERSION}" > /dev/null 2>&1
  if [[ $? == 0 ]] ; then
    log_info "node v${IDEA_NODE_VERSION} is installed."
    nvm use "${IDEA_NODE_VERSION}"
    return 0
  fi

  log_info "installing node v${IDEA_NODE_VERSION} ..."
  nvm install "${IDEA_NODE_VERSION}"
  nvm use "${IDEA_NODE_VERSION}"
}
install_nodejs
# End: Install NodeJS
