# Begin: Install OpenMPI

OPENMPI_VERSION="{{ context.config.get_string('global-settings.package_config.openmpi.version') }}"
OPENMPI_URL="{{ context.config.get_string('global-settings.package_config.openmpi.url') }}"
OPENMPI_HASH="{{ context.config.get_string('global-settings.package_config.openmpi.checksum').lower().strip() }}"
OPENMPI_HASH_METHOD="{{ context.config.get_string('global-settings.package_config.openmpi.checksum_method').lower().strip() }}"
OPENMPI_TGZ="{{ context.config.get_string('global-settings.package_config.openmpi.url').split('/')[-1] }}"

OPENMPI_WORK_DIR="/root/bootstrap/openmpi"
OPENMPI_INSTALL_DIR="{{ context.config.get_string('shared-storage.internal.mount_dir', required=True) }}/openmpi"
mkdir -p "${OPENMPI_WORK_DIR}"
mkdir -p "${OPENMPI_INSTALL_DIR}"

if [[ ! -d "${OPENMPI_INSTALL_DIR}/openmpi-${OPENMPI_VERSION}" ]]; then
  pushd "${OPENMPI_WORK_DIR}"
  wget "${OPENMPI_URL}"
  if [[ $(openssl ${OPENMPI_HASH_METHOD} "${OPENMPI_TGZ}" | awk '{print $2}') != "${OPENMPI_HASH}" ]];  then
    echo -e "FATAL ERROR: ${OPENMPI_HASH_METHOD} Checksum for OpenMPI failed. File may be compromised." > /etc/motd
  else
    tar xvf "${OPENMPI_TGZ}"
    cd openmpi-"${OPENMPI_VERSION}"
    ./configure --prefix="${OPENMPI_INSTALL_DIR}/${OPENMPI_VERSION}"
    NUM_PROCS=`nproc --all`
    MAKE_FLAGS="-j${NUM_PROCS}"
    make ${MAKE_FLAGS}
    make install ${MAKE_FLAGS}
  fi
fi
# End: Install OpenMPI
