# Begin: OpenPBS Client
{% include '_templates/linux/openpbs.jinja2' %}

echo -e "PBS_SERVER={{ context.config.get_string('scheduler.private_dns_name', required=True).split('.')[0] }}
PBS_START_SERVER=0
PBS_START_SCHED=0
PBS_START_COMM=0
PBS_START_MOM=1
PBS_EXEC=/opt/pbs
PBS_HOME=/var/spool/pbs
PBS_CORE_LIMIT=unlimited
PBS_SCP=/usr/bin/scp
" > /etc/pbs.conf

echo -e "
\$clienthost {{ context.config.get_string('scheduler.private_dns_name').split('.')[0] }}
\$usecp *:/dev/null /dev/null
\$usecp *:{{ context.config.get_string('shared-storage.home.mount_dir') }} {{ context.config.get_string('shared-storage.home.mount_dir') }}
" > /var/spool/pbs/mom_priv/config

systemctl start pbs
systemctl enable pbs
# End: OpenPBS Client
