# Begin: Install Prometheus
{%- if context.base_os in ('amazonlinux2', 'rhel8', 'rhel9') %}
function install_prometheus () {
  local AWS=$(command -v aws)
  local MACHINE=$(uname -m)
  local DOWNLOAD_URL=""
  if [[ ${MACHINE} == "aarch64" ]]; then
    local PROMETHEUS_ARM64_URL=$($AWS dynamodb get-item \
                                --region "{{ context.aws_region }}" \
                                --table-name "{{ context.cluster_name }}.cluster-settings" \
                                --key '{"key": {"S": "global-settings.package_config.prometheus.installer.linux.aarch64"}}' \
                                --output text \
                                | awk '/VALUE/ {print $2}')
    DOWNLOAD_URL=$(echo $PROMETHEUS_ARM64_URL)
  else
    local PROMETHEUS_AMD64_URL=$($AWS dynamodb get-item \
                                --region "{{ context.aws_region }}" \
                                --table-name "{{ context.cluster_name }}.cluster-settings" \
                                --key '{"key": {"S": "global-settings.package_config.prometheus.installer.linux.x86_64"}}' \
                                --output text \
                                | awk '/VALUE/ {print $2}')
    DOWNLOAD_URL=$(echo $PROMETHEUS_AMD64_URL)
  fi
  local PACKAGE_ARCHIVE=$(basename ${DOWNLOAD_URL})
  local PACKAGE_NAME="${PACKAGE_ARCHIVE%.tar.gz*}"
  PROMETHEUS_DIR="/root/bootstrap/prometheus"
  mkdir -p ${PROMETHEUS_DIR}
  pushd ${PROMETHEUS_DIR}
  wget ${DOWNLOAD_URL}
  tar -xvf ${PACKAGE_ARCHIVE}
  cp ${PACKAGE_NAME}/prometheus /usr/local/bin/
}
function setup_prometheus_service () {
  echo "[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/prometheus --config.file /etc/prometheus/prometheus.yml --storage.tsdb.path /opt/prometheus/data

[Install]
WantedBy=multi-user.target
" > /etc/systemd/system/prometheus.service
}
install_prometheus
mkdir -p /opt/prometheus/data
{%- if context.is_prometheus_exporter_enabled('app_exporter') %}
if [[ ! -f /root/metrics_api_token.txt ]]; then
  echo -n "${RANDOM}-${RANDOM}${RANDOM}${RANDOM}-${RANDOM}" > /root/metrics_api_token.txt
fi
{%- endif %}
{%- set prometheus_config = context.get_prometheus_config(additional_scrape_configs=additional_scrape_configs) %}
{%- if prometheus_config %}
mkdir -p /etc/prometheus
echo '{{ context.utils.to_yaml(prometheus_config) }}' > /etc/prometheus/prometheus.yml
setup_prometheus_service
systemctl enable prometheus
systemctl start prometheus
{%- else %}
log_warning "Install Prometheus: prometheus_config not provided."
{%- endif %}
{%- endif %}
# End: Install Prometheus


