# Begin: Install Python

PYTHON_VERSION="{{ context.config.get_string('global-settings.package_config.python.version', required=True) }}"
PYTHON_URL="{{ context.config.get_string('global-settings.package_config.python.url', required=True) }}"
PYTHON_HASH="{{ context.config.get_string('global-settings.package_config.python.checksum', required=True).lower().strip() }}"
PYTHON_HASH_METHOD="{{ context.config.get_string('global-settings.package_config.python.checksum_method', required=True).lower().strip() }}"
PYTHON_TGZ="{{ context.config.get_string('global-settings.package_config.python.url', required=True).split('/')[-1] }}"

function install_python () {
  # - ALIAS_PREFIX: Will generate symlinks for python3 and pip3 for the alias:
  #   eg. if ALIAS_PREFIX == 'idea', idea_python and idea_pip will be available for use.
  # - INSTALL_DIR: the location where python will be installed.
  local ALIAS_PREFIX="{{ alias_prefix }}"
  local INSTALL_DIR="{{ install_dir }}"

  local PYTHON3_BIN="${INSTALL_DIR}/latest/bin/python3"
  local CURRENT_VERSION="$(${PYTHON3_BIN} --version | awk {'print $NF'})"
  if [[ "${CURRENT_VERSION}" == "${PYTHON_VERSION}" ]]; then
    log_info "Python already installed and at correct version."
  else

    log_info "Python not detected, installing"

    local TIMESTAMP=$(date +%s)
    local TMP_DIR="/root/bootstrap/python_installer/${ALIAS_PREFIX}-${TIMESTAMP}"
    mkdir -p "${TMP_DIR}"
    pushd ${TMP_DIR}

    wget ${PYTHON_URL}
    if [[ $(openssl ${PYTHON_HASH_METHOD} ${PYTHON_TGZ} | awk '{print $2}') != ${PYTHON_HASH} ]];  then
        echo -e "FATAL ERROR: ${PYTHON_HASH_METHOD} Checksum for Python failed. File may be compromised." > /etc/motd
        exit 1
    fi

    tar xvf ${PYTHON_TGZ}
    pushd "Python-${PYTHON_VERSION}"
    local PYTHON_DIR="${INSTALL_DIR}/${PYTHON_VERSION}"
    ./configure LDFLAGS="-L/usr/lib64/openssl" \
                CPPFLAGS="-I/usr/include/openssl" \
                -enable-loadable-sqlite-extensions \
                --prefix="${PYTHON_DIR}"

    local NUM_PROCS=`nproc --all`
    local MAKE_FLAGS="-j${NUM_PROCS}"
    make ${MAKE_FLAGS}
    make ${MAKE_FLAGS} install

    popd
    popd

    # create symlinks
    local PYTHON_LATEST="${INSTALL_DIR}/latest"
    ln -sf "${PYTHON_DIR}" "${PYTHON_LATEST}"
    ln -sf "${PYTHON_LATEST}/bin/python3" "${PYTHON_LATEST}/bin/${ALIAS_PREFIX}_python"
    ln -sf "${PYTHON_LATEST}/bin/pip3" "${PYTHON_LATEST}/bin/${ALIAS_PREFIX}_pip"
  fi
}
install_python
# End Install Python
