# Begin: Restrict SSH access
function restrict_ssh () {
  local ADMIN_USERNAME="{{ context.config.get_string('cluster.administrator_username', required=True) }}"
  grep -q "AllowGroups {{ context.default_system_user }} ssm-user ${ADMIN_USERNAME}-user-group" /etc/ssh/sshd_config
  if [[ "$?" != "0" ]]; then
    echo "AllowGroups {{ context.default_system_user }} ssm-user ${ADMIN_USERNAME}-user-group" >> /etc/ssh/sshd_config
  fi
  systemctl restart sshd
}
restrict_ssh
# End: Restrict SSH access
