# Begin: supervisord config
echo -e "; idea app supervisord config file

[unix_http_server]
file=/run/supervisor.sock
chmod=0700
chown=root:root

[supervisord]
logfile=/var/log/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile=/run/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200
user=root

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///run/supervisor.sock

[include]
files = supervisord.d/*.ini
" > /etc/supervisord.conf

mkdir -p /etc/supervisord.d

echo "[Unit]
Description=supervisord - Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/environment
ExecStart=/opt/idea/python/latest/bin/supervisord -c /etc/supervisord.conf
ExecReload=/opt/idea/python/latest/bin/supervisorctl -c /etc/supervisord.conf reload
ExecStop=/opt/idea/python/latest/bin/supervisorctl -c /etc/supervisord.conf shutdown
User=root

[Install]
WantedBy=multi-user.target
" > /etc/systemd/system/supervisord.service

systemctl enable supervisord
systemctl restart supervisord

# End: supervisord config
