# Begin: System Packages Install

SYSTEM_PKGS=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.system', required=True)) }})
SYSTEM_PKGS_7=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.system_rhel7', required=True)) }})
APPLICATION_PKGS=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.application', required=True)) }})
SSSD_PKGS=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.sssd', required=True)) }})
SSSD_PKGS_7=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.sssd_rhel7', required=True)) }})
OPENLDAP_CLIENT_PKGS=({{ ' '.join(context.config.get_list('global-settings.package_config.linux_packages.openldap_client', required=True)) }})

{%- if context.base_os =='rhel7' %}
  yum install -y $(echo ${SYSTEM_PKGS[*]} ${SYSTEM_PKGS_7[*]} ${APPLICATION_PKGS[*]} ${SSSD_PKGS[*]} ${SSSD_PKGS_7[*]} ${OPENLDAP_CLIENT_PKGS[*]}) --enablerepo rhel-7-server-rhui-optional-rpms
{%- elif context.base_os in ('amazonlinux2', 'centos7') %}
  yum install -y $(echo ${SYSTEM_PKGS[*]} ${APPLICATION_PKGS[*]} ${SSSD_PKGS[*]} ${OPENLDAP_CLIENT_PKGS[*]})
{%- endif %}

{%- if context.base_os in ('rhel8') %}
  dnf install -y dnf-plugins-core
  dnf config-manager --set-enabled codeready-builder-for-rhel-8-rhui-rpms
  sss_cache -E
  dnf install -y $(echo ${SYSTEM_PKGS[*]} ${APPLICATION_PKGS[*]} ${SSSD_PKGS[*]} ${OPENLDAP_CLIENT_PKGS[*]}) --enablerepo codeready-builder-for-rhel-8-rhui-rpms
{%- endif %}

{%- if context.base_os in ('rhel9') %}
  dnf install -y dnf-plugins-core
  dnf config-manager --set-enabled codeready-builder-for-rhel-9-rhui-rpms
  sss_cache -E
  dnf install -y $(echo ${SYSTEM_PKGS[*]} ${APPLICATION_PKGS[*]} ${SSSD_PKGS[*]} ${OPENLDAP_CLIENT_PKGS[*]}) --enablerepo codeready-builder-for-rhel-9-rhui-rpms
{%- endif %}

# End: System Packages Install

