#!/bin/bash

#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance
#  with the License. A copy of the License is located at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  or in the 'license' file accompanying this file. This file is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES
#  OR CONDITIONS OF ANY KIND, express or implied. See the License for the specific language governing permissions
#  and limitations under the License.

set -x

source /etc/environment
source /root/bootstrap/infra.cfg
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

APP_PACKAGE_DOWNLOAD_URI="${1}"
APP_NAME="dcv-connection-gateway"

AWS=$(command -v aws)
INSTANCE_REGION=${AWS_REGION}
S3_BUCKET=$(echo ${APP_PACKAGE_DOWNLOAD_URI} | cut -f3 -d/)

$AWS --region ${INSTANCE_REGION} s3 cp "${APP_PACKAGE_DOWNLOAD_URI}" "${BOOTSTRAP_DIR}/"

PACKAGE_ARCHIVE=$(basename "${APP_PACKAGE_DOWNLOAD_URI}")
PACKAGE_NAME="${PACKAGE_ARCHIVE%.tar.gz*}"
APP_DIR=${IDEA_APP_DEPLOY_DIR}/${APP_NAME}
if [[ -d "${APP_DIR}" ]]; then
  rm -rf "${APP_DIR}"
fi
mkdir -p ${APP_DIR}
tar -xvf ${BOOTSTRAP_DIR}/${PACKAGE_ARCHIVE} -C ${APP_DIR}


{%- if context.base_os in ('rhel9') %}

  DCV_GPG_KEY="{{ context.config.get_string('global-settings.package_config.dcv.gpg_key', required=True) }}"
  DCV_CONNECTION_GATEWAY_URL="{{ context.config.get_string('global-settings.package_config.dcv.connection_gateway.x86_64.linux.rhel_centos_rocky9.url', required=True) }}"
  DCV_CONNECTION_GATEWAY_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.connection_gateway.x86_64.linux.rhel_centos_rocky9.sha256sum', required=True) }}"

  INTERNAL_ALB_ENDPOINT="{{ context.config.get_cluster_internal_endpoint() }}"
  GATEWAY_TO_BROKER_PORT="{{ context.config.get_string("virtual-desktop-controller.dcv_broker.gateway_communication_port", required=True) }}"

  DCV_SERVER_X86_64_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.x86_64.linux.rhel_centos_rocky9.url', required=True) }}"
  DCV_SERVER_X86_64_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.x86_64.linux.rhel_centos_rocky9.sha256sum', required=True) }}"

  DCV_SERVER_AARCH64_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.aarch64.linux.rhel_centos_rocky9.url', required=True) }}"
  DCV_SERVER_AARCH64_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.aarch64.linux.rhel_centos_rocky9.sha256sum', required=True) }}"

{%- endif %}


{%- if context.base_os in ('amazonlinux2', 'rhel8') %}

  DCV_GPG_KEY="{{ context.config.get_string('global-settings.package_config.dcv.gpg_key', required=True) }}"
  DCV_CONNECTION_GATEWAY_URL="{{ context.config.get_string('global-settings.package_config.dcv.connection_gateway.x86_64.linux.al2.url', required=True) }}"
  DCV_CONNECTION_GATEWAY_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.connection_gateway.x86_64.linux.al2.sha256sum', required=True) }}"

  INTERNAL_ALB_ENDPOINT="{{ context.config.get_cluster_internal_endpoint() }}"
  GATEWAY_TO_BROKER_PORT="{{ context.config.get_string("virtual-desktop-controller.dcv_broker.gateway_communication_port", required=True) }}"

  DCV_SERVER_X86_64_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.x86_64.linux.al2.url', required=True) }}"
  DCV_SERVER_X86_64_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.x86_64.linux.al2.sha256sum', required=True) }}"

  DCV_SERVER_AARCH64_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.aarch64.linux.al2.url', required=True) }}"
  DCV_SERVER_AARCH64_SHA256_URL="{{ context.config.get_string('global-settings.package_config.dcv.host.aarch64.linux.al2.sha256sum', required=True) }}"

{%- endif %}

DCV_WEB_VIEWER_INSTALL_LOCATION="/usr/share/dcv/www"

timestamp=$(date +%s)

function install_dcv_connection_gateway() {
  rpm -q nice-dcv-connection-gateway
  if [[ "$?" != "0"  ]]; then
    yum install -y nc
    rpm --import ${DCV_GPG_KEY}
    wget ${DCV_CONNECTION_GATEWAY_URL}
    fileName=$(basename ${DCV_CONNECTION_GATEWAY_URL})
    urlSha256Sum=$(wget -O - ${DCV_CONNECTION_GATEWAY_SHA256_URL})
    if [[ $(sha256sum ${fileName} | awk '{print $1}') != ${urlSha256Sum} ]];  then
      echo -e "FATAL ERROR: Checksum for DCV Connection Gateway failed. File may be compromised." > /etc/motd
      exit 1
    fi
    yum install -y ${fileName}
    rm -f ${fileName}
  fi
}

function install_dcv_web_viewer() {
  echo "# installing dcv web viewer ..."

  local machine=$(uname -m) #x86_64 or aarch64
  local DCV_SERVER_URL=""
  local DCV_SERVER_SHA256_URL=""
  if [[ $machine == "x86_64" ]]; then
    # x86_64
    DCV_SERVER_URL=${DCV_SERVER_X86_64_URL}
    DCV_SERVER_SHA256_URL=${DCV_SERVER_X86_64_SHA256_URL}
  else
    # aarch64
    DCV_SERVER_URL=${DCV_SERVER_AARCH64_URL}
    DCV_SERVER_SHA256_URL=${DCV_SERVER_AARCH64_SHA256_URL}
  fi

  rpm -q nice-dcv-web-viewer
  if [[ "$?" != "0"  ]]; then
    wget ${DCV_SERVER_URL}
    fileName=$(basename ${DCV_SERVER_URL})
    urlSha256Sum=$(wget -O - ${DCV_SERVER_SHA256_URL})

    if [[ $(sha256sum ${fileName} | awk '{print $1}') != ${urlSha256Sum} ]];  then
        echo -e "FATAL ERROR: Checksum for DCV Server failed. File may be compromised." > /etc/motd
        exit 1
    fi
    extractDir=$(echo ${fileName} |  sed 's/\.tgz$//')
    mkdir -p ${extractDir}
    tar zxvf ${fileName} -C ${extractDir} --strip-components 1

    pushd ${extractDir}
    {% if context.base_os == 'amazonlinux2' -%}
      rpm -ivh nice-dcv-web-viewer-*.${machine}.rpm
    {% elif context.base_os in ('rhel8', 'rhel9') -%}
      rpm -ivh nice-dcv-web-viewer-*.${machine}.rpm --nodeps
    {% endif -%}
    popd
    rm -rf ${extractDir}
    rm -rf ${fileName}
  fi

  yes | cp -a ${APP_DIR}/static_resources/. ${DCV_WEB_VIEWER_INSTALL_LOCATION}
}

function configure_dcv_connection_gateway() {
  if [[ -f /etc/dcv-connection-gateway/dcv-connection-gateway.conf ]]; then
    mv /etc/dcv-connection-gateway/dcv-connection-gateway.conf /etc/dcv-connection-gateway/dcv-connection-gateway.conf.${timestamp}
  fi
  touch /etc/dcv-connection-gateway/dcv-connection-gateway.conf
  echo -e "[log]
level = \"trace\"

[gateway]
quic-listen-endpoints = [\"0.0.0.0:8443\", \"[::]:8443\"]
web-listen-endpoints = [\"0.0.0.0:8443\", \"[::]:8443\"]
cert-file = \"/etc/dcv-connection-gateway/certs/default_cert.pem\"
cert-key-file = \"/etc/dcv-connection-gateway/certs/default_key_pkcs8.pem\"

[health-check]
bind-addr = \"::\"
port = 8989

[dcv]
tls-strict = false

[resolver]
url = \"${INTERNAL_ALB_ENDPOINT}:${GATEWAY_TO_BROKER_PORT}\"
tls-strict = false

[web-resources]
local-resources-path = \"/usr/share/dcv/www\"
tls-strict = false
" > /etc/dcv-connection-gateway/dcv-connection-gateway.conf

  systemctl enable dcv-connection-gateway
  systemctl start dcv-connection-gateway
}

install_dcv_connection_gateway
install_dcv_web_viewer

{% include 'dcv-connection-gateway/_templates/configure_certificates.jinja2' %}

configure_dcv_connection_gateway