#!/bin/bash

#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance
#  with the License. A copy of the License is located at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  or in the 'license' file accompanying this file. This file is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES
#  OR CONDITIONS OF ANY KIND, express or implied. See the License for the specific language governing permissions
#  and limitations under the License.

#!/bin/bash

set +x

source /etc/environment
source /root/bootstrap/infra.cfg

if [[ -f /root/bootstrap/infra.cfg ]]; then
    source /root/bootstrap/infra.cfg
fi

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

CERT_CONTENT=$(get_secret ${CERTIFICATE_SECRET_ARN})
PRIVATE_KEY_CONTENT=$(get_secret ${PRIVATE_KEY_SECRET_ARN})

if [[ $(< /etc/dcv-connection-gateway/certs/default_cert.pem) == "$CERT_CONTENT" ]] && [[ $(< /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem) == "$PRIVATE_KEY_CONTENT" ]]; then
    echo "`date`: Certificate and Private Key contents not changed. Skipping certificate reconfigurartion and DCV Gateway restart."
else
    echo "`date`: Certificate or Private Key contents or both have changed. Reconfiguring certificate and restarting DCV Gateway."
    {% include 'dcv-connection-gateway/_templates/configure_certificates.jinja2' %}
    systemctl restart dcv-connection-gateway
fi