#!/bin/bash

#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance
#  with the License. A copy of the License is located at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  or in the 'license' file accompanying this file. This file is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES
#  OR CONDITIONS OF ANY KIND, express or implied. See the License for the specific language governing permissions
#  and limitations under the License.

# Begin: Configure Certificates
timestamp=$(date +%s)
function configure_certificates() {
  local CERT_CONTENT=$(get_secret ${CERTIFICATE_SECRET_ARN})
  local PRIVATE_KEY_CONTENT=$(get_secret ${PRIVATE_KEY_SECRET_ARN})
  mkdir -p /etc/dcv-connection-gateway/certs/

  if [[ -f /etc/dcv-connection-gateway/certs/default_cert.pem ]]; then
    mv /etc/dcv-connection-gateway/certs/default_cert.pem /etc/dcv-connection-gateway/certs/default_cert.pem.${timestamp}
  fi
  if [[ -f /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem ]]; then
    mv /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem.${timestamp}
  fi
  if [[ -f /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem ]]; then
    mv /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem.${timestamp}
  fi
  touch /etc/dcv-connection-gateway/certs/default_cert.pem
  touch /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem
  echo -e "${CERT_CONTENT}" > /etc/dcv-connection-gateway/certs/default_cert.pem
  echo -e "${PRIVATE_KEY_CONTENT}" > /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem
  openssl pkcs8 -topk8 -inform PEM -outform PEM -nocrypt -in /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem -out /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem
  chmod 600 /etc/dcv-connection-gateway/certs/default_cert.pem
  chmod 600 /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem
  chmod 600 /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem

  chown -R dcvcgw:dcvcgw /etc/dcv-connection-gateway/certs/default_cert.pem
  chown -R dcvcgw:dcvcgw /etc/dcv-connection-gateway/certs/default_key_pkcs1.pem
  chown -R dcvcgw:dcvcgw /etc/dcv-connection-gateway/certs/default_key_pkcs8.pem
}
configure_certificates
# End: Configure Certificates