# Begin: Restrict SSH access to session owner
function restrict_ssh_to_session_owner () {
  local SESSION_OWNER="{{ context.vars.session_owner }}"
  grep -q "AllowUsers ${SESSION_OWNER}" /etc/ssh/sshd_config
  if [[ "$?" != "0" ]]; then
    echo "AllowUsers ${SESSION_OWNER}" >> /etc/ssh/sshd_config
  fi
  systemctl restart sshd
}
restrict_ssh_to_session_owner
# End: Restrict SSH access to session owner
