# Begin: Configure Hyper-threading
{% if context.vars.job.params.enable_ht_support %}
# Hyper-threading is enabled. No configuration required.
{% else %}
for cpunum in $(awk -F'[,-]' '{print $2}' /sys/devices/system/cpu/cpu*/topology/thread_siblings_list | sort -un);
do
  echo 0 > /sys/devices/system/cpu/cpu${cpunum}/online;
done
{% endif %}
# End: Configure Hyper-threading


