# Begin: Configure OpenPBS Compute Node
{% include '_templates/linux/openpbs.jinja2' %}

INSTANCE_HOSTNAME=$(hostname)

echo -e "PBS_SERVER={{ context.config.get_string('scheduler.private_dns_name', required=True).split('.')[0] }}
PBS_START_SERVER=0
PBS_START_SCHED=0
PBS_START_COMM=0
PBS_START_MOM=1
PBS_EXEC=/opt/pbs
PBS_LEAF_NAME=$INSTANCE_HOSTNAME
PBS_HOME=/var/spool/pbs
PBS_CORE_LIMIT=unlimited
PBS_SCP=/usr/bin/scp
" > /etc/pbs.conf

echo -e "
\$clienthost {{ context.config.get_string('scheduler.private_dns_name').split('.')[0] }}
\$usecp *:/dev/null /dev/null
\$usecp *:{{ context.config.get_string('shared-storage.home.mount_dir') }} {{ context.config.get_string('shared-storage.home.mount_dir') }}
" > /var/spool/pbs/mom_priv/config

echo -e "PATH=/bin:/usr/bin
IDEA_CLUSTER_NAME=${IDEA_CLUSTER_NAME}
AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
IDEA_JOB_STATUS_SQS_QUEUE_URL={{context.config.get_string('scheduler.job_status_sqs_queue_url')}}
" > /var/spool/pbs/pbs_environment
# End: Configure OpenPBS Compute Node
