# Begin: Amazon EFA (Elastic Fabric Adapter)
function install_efa() {
  local EFA_URL="{{ context.config.get_string('global-settings.package_config.efa.url', required=True) }}"
  local EFA_HASH="{{ context.config.get_string('global-settings.package_config.efa.checksum', required=True).lower().strip() }}"
  local EFA_HASH_METHOD="{{ context.config.get_string('global-settings.package_config.efa.checksum_method', required=True).lower().strip() }}"
  local EFA_TGZ="$(basename ${EFA_URL})"
  local EFA_BOOTSTRAP_DIR="/root/bootstrap/efa"
  if [[ -d "${EFA_BOOTSTRAP_DIR}" ]]; then
    rm -rf "${EFA_BOOTSTRAP_DIR}"
  fi
  mkdir -p ${EFA_BOOTSTRAP_DIR}
  pushd ${EFA_BOOTSTRAP_DIR}
  curl --silent -O ${EFA_URL}
  if [[ $(openssl ${EFA_HASH_METHOD} ${EFA_TGZ} | awk '{print $2}') != ${EFA_HASH} ]];  then
      echo -e "FATAL ERROR: ${EFA_HASH_METHOD} Checksum for EFA failed. File may be compromised." > /etc/motd
      exit 1
  fi
  tar -xf ${EFA_TGZ}
  pushd ${EFA_BOOTSTRAP_DIR}/aws-efa-installer
  /bin/bash efa_installer.sh -y
  set_reboot_required "EFA Driver Installed"
  popd
  popd
}
install_efa
# End: Amazon EFA (Elastic Fabric Adapter)


