#!/bin/bash

#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance
#  with the License. A copy of the License is located at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  or in the 'license' file accompanying this file. This file is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES
#  OR CONDITIONS OF ANY KIND, express or implied. See the License for the specific language governing permissions
#  and limitations under the License.

set -x

source /etc/environment
if [[ -f /etc/profile.d/proxy.sh ]]; then
    source /etc/profile.d/proxy.sh
fi

SOURCE="${1}"

# if SOURCE == crontab, remove scheduler_post_reboot.sh entry from current crontab to prevent this script to run on the next reboot
if [[ "${SOURCE}" == "crontab" ]]; then
  crontab -l | grep -v 'scheduler_post_reboot.sh' | crontab -
fi

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

{% include '_templates/linux/openmpi.jinja2' %}

# Install Python /internal/python for compute nodes
# this will not re-install python if it already exists.
{%- with alias_prefix = 'compute', install_dir = context.config.get_string('shared-storage.internal.mount_dir') + '/python' %}
  {% include '_templates/linux/python.jinja2' %}
{%- endwith %}
